* {
  font-family:Arial,Helvetica,sans-serif;
}

body {
  margin: 0px;
  min-width: 475px;
  padding: 0px;
  opacity: 1.0;
}

.alertMessage {
  margin: 5px;
  text-align: center;
}

.controls {
  margin: 5px;
  padding: 0px;
}

.controls button {
  margin: 1px; 
}

.controls table {
  margin: 0px;
  padding: 0px;
}

.controls tr, td {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.controls form {
  display: table;
  margin: 0px;
  text-align: center;
}

.controls input {
  border: 3px solid #f7ab2d;
  border-radius: 10px;
  font-size: 14px;
  margin: 2px;
  width: 400px;
}

#progressDisplay {
  margin: 5px;
  padding: 0px;
  text-align: center;
}

.responseDisplay {
  color: #5db5dc;
  font-size: 12px;
  margin: 5px;
}

.wolframAlphaPage {
  margin: 5px;
  text-align: center;
  font-size: 14px;
}

li {
  border-bottom: 1px solid #eaeaea;
  margin: 5px 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
